<!DOCTYPE html>
<html lang="en">
    <%- include('head')%>
    <body>
        <%- include('header') %>
        <div class="content">
            <div class="details-container">
                <div class="details-list">
                    <p class="detail">
                        <span class="detail-label">Username:</span>
                        <span class="detail-data"><%= message.username %></span>
                    </p>
                    <p class="detail">
                        <span class="detail-label">Message:</span>
                        <span class="detail-data"><%= message.message %></span>
                    </p>
                    <p class="detail">
                        <span class="detail-label">Sent on:</span>
                        <span class="detail-data"><%= message.date.toDateString() %></span>
                    </p>
                </div class="detail-list">
                <a class="back" href="/">Back</a>
            </div>
        </div>        
        <%- include('footer') %>
    </body>
</html>